absl-py==2.1.0
altgraph==0.17.4
appdirs==1.4.4
asgiref==3.8.1
astunparse==1.6.3
atomicwrites==1.4.0
Django==5.1.5
face_recognition_models==0.3.0
Flask-Cors==5.0.0
flatbuffers==24.12.23
gast==0.6.0
google-pasta==0.2.0
grpcio==1.69.0
gunicorn==23.0.0
jiter==0.8.2
keras==3.8.0
lxml==5.2.1
matplotlib==3.9.2
mkl-service==2.4.0
ml-dtypes==0.4.1
namex==0.0.8
openai==1.59.8
opencv-python==4.10.0.84
opt_einsum==3.4.0
optree==0.13.1
pefile==2023.2.7
protobuf==4.25.3
pyarrow==13.0.0
pyasn1-modules==0.2.8
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.11
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
pywin32==305.1
setuptools==75.1.0
sqlparse==0.5.3
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow_intel==2.18.0
termcolor==2.5.0
wheel==0.44.0
